<div class='card' style='width: 16rem' (click)='traineeSelected(trainee)'>
    <img src="../{{trainee.image}}" class="card-img-top profile-pic" alt="Abiola Passport" height=150px width=150px>
    <div class='card-body'>
                <p class = 'card-title'><b>Name: {{trainee.name}}</b></p>
                <p><b>Complexion: {{trainee.complexion}}</b></p>
                <p><b>Hobbies: {{trainee.hobbies}}</b></p>
                <!--ul>
                    <li *ngFor='let hobby of trainee.hobbies'><b>{{hobby}}</b>
                </ul-->             
    </div>
</div>