.i{float: left;}
h1{color: fuchsia; font-family: fantasy; font-variant: small-caps; text-align: center; border:5px solid orange; border-radius: 10px; background-color: wheat;}
.n{list-style-type: none; background-color: moccasin;}
h3{color: gold; font-variant: small-caps; text-align:center;}
